.egerie-box-container {
    
}

.egerie-box-container .header {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.egerie-box-container .main {
    display: flex;
    height: 100vh;
    background-color: black;
}

.egerie-box-container .main .box-container {
    height: 100%;
    width: 50%;
}

.egerie-box-container .main .box-container-left .header {
    height: 30%;
}

.egerie-box-container .main .box-container-left .main {
    display: flex;
    height: 100%;
    height: 70%;
    /* border: 4px solid black; */
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 0;
}

.egerie-box-container .main .box-container-left .main img {
    position: relative;
    bottom: 20%;
    object-fit: cover;
    object-position: top;
    height: 60%;
}
.egerie-box-container .main .box-container-left .main p {
    position: relative;

    bottom: 18%;
    width: 70%;
    font-weight: 500;
}
.egerie-box-container .main .box-container-right {
    display: flex;
    flex-direction: column;
}
.img-box {
    height: 50%;
}
.img-top {
    /* border: 4px solid black; */
    border-left: 0;
    background-image: url('../../assets/PHOTO-2023-06-08-16-08-57.jpg');
    background-size: cover;
}
.img-bottom {
    height: 50vh;
    display: flex;
    justify-content: right;
    /* align-items: center; */
}
.img-bottom img {
    border: 1px solid black;
    object-fit: contain;
    width: max-content;
    /* width: 100%; */
    height: 100%;
    /* width: auto; */
}

@media screen and (max-width: 1000px) {
    .egerie-box-container .main .box-container-left .main p {
        width: 80%;
    }
}
@media screen and (max-width: 800px) {
    .egerie-box-container .main {
        height: 250vh;
        flex-direction: column;
        padding-bottom: 0;
    }
    .egerie-box-container .main .box-container-left .main img {
        position: relative;
        bottom: 30%;
        object-fit: cover;
        object-position: top;
        height: 50%;
    }
    .egerie-box-container .main .box-container-left .main p {
        font-weight: 100;
        font-size: 20px;
        width: 70%;
    }
    .egerie-box-container .main .box-container {
        height: 100%;
        width: 100%;
    }
    .img-top {
        /* height: 100%; */
    }
}

@media screen and (max-width: 550px) {
    .egerie-box-container .main .box-container-left .main img {
        position: relative;
        bottom: 20%;
        object-fit: cover;
        height: 50%;
    }
    .egerie-box-container .main .box-container-left .main p {
        font-weight: 500;
        font-size: 16px;
        
    }
    
}

@media screen and (max-width: 450px) {
    .egerie-box-container .main {
        padding-bottom: 0;
    }
    .egerie-box-container .main .box-container-left .main img {
        position: relative;
        object-fit: cover;
        object-position: top;
        bottom: 20%;
        height: 40%;
    }
    .img-top {
        /* background-position: center; */
    }
    .egerie-box-container .main .box-container-left .main p {
        bottom: 15%;
        width: 80%;
    }
    .img-bottom img {
        height: 100%;
        /* width: auto; */
    }
}
