.buy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1cm;
    padding-right: 1cm;
    padding-bottom: 1cm
}

@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'ZCOOL XiaoWei', sans-serif;
    /* background-color: #d39932; */
    /* border: 1px solid bla    ck; */
    color: #d39932;
    height: 20vh;
    border-bottom: 1px solid gainsboro;
    width: 98.9vw;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5vh;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 10px gray;
    padding: 10px;
    /* text-align: center; */
    text-transform: uppercase;
}

.product img {
    width: 100vw;
    max-height: auto;
    object-fit: cover;
}

.product h4 {
    font-family: 'ZCOOL XiaoWei', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0;
}

.product p {
    font-family: 'ZCOOL XiaoWei', sans-serif;
    font-size: 2.5vh;
    color: #b56020;
    font-weight: bold;
}

.product button {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 2.5rem;
    padding: 0;
    width: 100%;
}

.filters {
    display: flex;
    height: 10rem;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
    width: 40rem;
}

.filters input {
    height: max-content;
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    padding-top: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vhh;
    width: 400px;
    /* Ajustez la largeur selon vos besoins */
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-name: slideIn;

    z-index: 9999;
}

.modal-container.closing {
    transition: opacity 0.3s ease-out;
    opacity: 0;
}

.image-container {
    overflow: hidden; /* Masquer les parties de l'image en dehors du conteneur */
    width: 100px; /* Largeur fixe du conteneur */
    height: 100px; /* Hauteur fixe du conteneur */
  }
  
  .image-container img {
    width: 100%; /* Ajuster la largeur de l'image au conteneur */
    height: 100%; /* Ajuster la hauteur de l'image au conteneur */
    object-fit: cover; /* Ajuster l'image pour couvrir le conteneur en conservant les proportions */
    transition: transform 0.3s ease-in-out; /* Ajouter une transition fluide pour l'effet de zoom */
  }
  
  .image-container img {
    transform: scale(1.8); /* Appliquer un zoom de 1.2 (20% de plus) sur l'image au survol */
    transform-origin: bottom; /* Définir l'origine de la transformation au centre de l'image */
  }
  
@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

.modal-container.open {
    transform: translateX(0%);
}

.modal-header {
    display: flex;
    padding-top: 1rem;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 10%;
}

.modal-header p {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

.modal-header button {
    top: 1%;
    right: 4%;
    position: absolute;
}

.modal-footer {
    display: flex;
    height: 12%;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}
.modal-footer .loader {
    align-self: center;
}
.modal-footer button {
    background-color: black;
    letter-spacing: 0.2rem;
    color: white;
    padding: 0.5rem;
    height: 50%;
    width: 100%;
}
.modal-footer p {
    font-size: 25px;
    font-weight: bold;
}
.modal-cart-items {
    overflow: scroll;
    max-height: 70%;
}

.modal-cart-items li {
    padding: 1rem;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gainsboro;
    font-weight: bold;
}

.modal-footer button:hover {
    background-color: rgb(48, 48, 48);
}

.modal-cart-items-container {
    display: flex;
    width: max-content;
}

.modal-cart-items-details {
    font-size: 18px;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.modal-cart-items-quantity {
    width: 7rem;
    display: flex;
    justify-content: space-between;
}
.modal-cart-items-button {
    height: auto;
    width: max-content;
}
.disable-scroll {
    overflow: hidden;
}

@media screen and (max-width: 1500px) {

    .product-list {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4vh;
    }
}

@media screen and (max-width: 900px) {
    .product-list {
        grid-gap: 2vh;
    }
}



/* Styles spécifiques aux écrans de taille moyenne */
@media screen and (max-width: 768px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3vh;
    }

    .filters {
        width: 35rem;
    }
}

@media screen and (max-width: 628px) {
    .product h4 {
        font-family: 'ZCOOL XiaoWei', sans-serif;
        font-size: 15px;
        font-weight: bold;
        margin: 10px 0;
    }


    .filters {
        width: max-content;
        height: 6rem;
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {}

/* Styles spécifiques aux écrans de petite taille */
@media screen and (max-width: 500px) {
    .product h4 {
        font-family: 'ZCOOL XiaoWei', sans-serif;
        font-size: 13px;
        font-weight: bold;
        margin: 10px 0;
    }

}

@media screen and (max-width: 450px) {
    .modal-container {
        padding: 1rem;
        width: 100vw;
    }

    .product-list {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 3vh;
    }

    .product h4 {
        font-family: 'ZCOOL XiaoWei', sans-serif;
        font-size: 20px;
        font-weight: bold;
        margin: 10px 0;
    }
}

@media screen and (max-width: 300px) {

    .product h4 {
        font-size: 15px;
        font-weight: bold;
        margin: 10px 0;
    }
}