.buy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1cm;
    padding-right: 1cm;
}

@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'ZCOOL XiaoWei', sans-serif;
    /* background-color: #d39932; */
    /* border: 1px solid bla    ck; */
    color: #d39932;
    height: 15vh;
    width: 98.9vw;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5vh;
}

.product {
    box-shadow: 5px 5px 10px gray;
    padding: 10px;
    /* text-align: center; */
    text-transform: uppercase;
}

.product img {
    width: 100vw;
    max-height: auto;
    object-fit: cover;
}

.product h4 {
    font-family: 'ZCOOL XiaoWei', sans-serif;
    font-size: 20px;
    margin: 10px 0;
}

.product p {
    font-family: 'ZCOOL XiaoWei', sans-serif;
    font-size: 2.5vh;
    color: #b56020;
    font-weight: bold;
}
.product button {
    background-color: black;
    color: white;
    padding: 0.5rem;
    width: 100%;
}
.filters {
    display: flex;
    height: 10rem;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
    width: 40rem;
}
.filters input {
    height: max-content;
}

@media screen and (max-width: 1500px) {
    
    .product-list {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4vh;
    }
}

@media screen and (max-width: 900px) {
    .product-list {
        grid-gap: 2vh;
    }
}



/* Styles spécifiques aux écrans de taille moyenne */
@media screen and (max-width: 768px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3vh;
    }
    .filters {
        width: 35rem;
    }
}
@media screen and (max-width: 628px) {
    
    .filters {
        width: max-content;
        height: 7rem;
        flex-direction: column;
    }
}

/* Styles spécifiques aux écrans de petite taille */
@media screen and (max-width: 500px) {
    .product-list {
        grid-template-columns: 1fr;
        grid-gap: 10vh;
    }
}