.enregistrement-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdcfcf;
    height: 80vh;
}

.form-container form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 50%;
}

.form-title {
    font-family: 'ZCOOL XiaoWei', sans-serif;
    font-size: 30px;
    color: #ff9a9c;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-icon {
    width: 15px;
    height: 15px;
    border: 1px solid #ff9a9c;
    border-radius: 50%;
    margin-right: 10px;
}

.input-container.active .input-icon {
    background-color: #ff9a9c;
}

.input-container-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 28vh;
}

input::placeholder {
    color: gray;
    font-weight: 400;
    font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 1.5vh;
    padding-left: 4vh;
    width: 20rem;
    border-radius: 3rem;
    background-color: rgba(232, 232, 232, 0.775);
}



button[type="submit"] {
    background-color: #ff9a9c;
    padding: 1.2vh;
    padding-left: 3vh;
    padding-right: 3vh;
    border-radius: 3rem;
    color: white;
}

.form-container {
    background-color: white;
    height: 35rem;
    width: 60rem;
    display: flex;
    box-shadow: 3px 3px 10px gray;
}

.submit-container {
    display: flex;
    /* border: 1px solid black; */
    height: 5rem;
    width: 25rem;
    align-items: center;
    justify-content: space-between;
}

.submit-container p {
    font-size: 13px;
}

.submit-container p a {
    color: #ff9a9c;
}

.img-form-container {
    width: 50%;
}

@media screen and (max-width: 900px) {
    .submit-container {
        flex-direction: column;
    }

    .form-container {
        width: 50rem;
    }
}

@media screen and (max-width: 820px) {
    .form-container {
        width: 45rem;
    }
}

@media screen and (max-width: 780px) {
    .enregistrement-container {
        height: 130vh;
    }

    .form-container {
        justify-content: center;
        align-items: center;
        height: 55rem;
        flex-direction: column;
    }
}

@media screen and (max-width: 430px) {
    .form-container {
        height: 45rem;
        width: 20rem;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        padding: 1.5vh;
        padding-left: 4vh;
        width: 15rem;
        border-radius: 3rem;
        background-color: rgba(232, 232, 232, 0.775);
    }



    button[type="submit"] {
        background-color: #ff9a9c;
        padding: 1.2vh;
        padding-left: 3vh;
        padding-right: 3vh;
        border-radius: 3rem;
        color: white;
    }
}
@media screen and (max-width: 370px) {
    .form-container {
        width: 19rem;
    }
}