nav {
    position:fixed;
    width: 100%;
    background-color: white;
    z-index: 900;
}
.button-connexion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
}
@media screen and (max-width: 1000px) {
    .bouton {
        width: max-content;
    }
}